
a {
    color: #345c42;
}


body {
  background-color: #d8e0d0; /* vert sauge clair */
  box-sizing: content-box;  
  padding: 50px; 
  color: #3b2f2f; /* brun foncé */
}


h1 {
  color: #2e5339;
  margin-left: 20px;
}

p {
    padding-top: 1%;
}


.organisation {
    color: rgb(135, 41, 186)    ;
}


.home_index {
    padding-top: 1%;
    font-size: smaller;
} 

.person {
    color: rgb(212, 71, 71);
}

.title {
    font-size: large;
    font-style: oblique;
    font-weight: 1,5;
    color: #2e5339;
}