
a {
    color: #26402f;
}


body {
  background-color: #a1c8b6; 
  box-sizing: content-box;  
  padding: 50px; 
  color: #3b2f2f; 
}


h1 {
  color: #233e2b;
  margin-left: 20px;
}

h2 {
    color: #392b24; 
    font-size: larger;
}


h4 {
    color: #392b24; 
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: large;
}


p {
    padding-top: 1%;
}


.organisation {
    color: rgb(41, 157, 186)    ;
}


.home_index {
    padding-top: 1%;
    font-size: smaller;
} 

.person {
    color: rgb(212, 71, 71);
}

.title {
    font-size: large;
    font-style: oblique;
    font-weight: 1,5;
    color: #2f5139;
}


.keyword {
    font-weight: bold;
    font-style: italic;
    color: #4e4741; /* brun plus clair pour ressortir */
}